.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
h1 {
  text-align: center;
}
h3 {
  margin: 5px;
}
.skills {
  width: 50%;
  margin: 15% auto;
  color: #0E8388;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill li {
  margin: 20px 0;
  padding: 10px;
}
.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 12px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(46, 79, 79, 1) 0%,
    rgba(203, 228, 222, 1) 100%
  );
}
.html {
  width: 90%;
  animation: html 3s;
}
.css {
  width: 75%;
  animation: css 3s;
}
.c {
  width: 85%;
  animation: c 3s;
}
.cpp {
  width: 60%;
  animation: cpp 3s;
}
.Javascript {
  width: 70%;
  animation: javascript 3s;
}
.sql {
  width: 85%;
  animation: c 3s;
}
.office {
  width: 95%;
  animation: c 3s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes cpp {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
